.ruler {

    margin-top: 24px;

    &-title {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 21px;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1480px;
        margin: 0 auto;

        @media (max-width:1024px){
            display: block;
        }
    }

    &-content {
        background: #EFEFEF;
        border-radius: 4px;
        padding: 16px 27px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 22px;

        @media (max-width:1024px) {
            max-width: 250px;
            margin: 0 10px;
        }
    }

    &-subtitle {
        font-size: 14px;
        font-weight: 700;
        color: #353535;
    }

    &-text {
        font-size: 12px;
        font-weight: 400;
        color: #000000;
    }
}