.newsletter {
    background: #FAFAFA;
    border-top:2px solid #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
    margin-top: 80px;
    
    &-container {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 40px 0px;
        align-items: center;

        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 10px;
            padding: 20px 0 ;
        }
    }

    &-title {
        font-size: 24px;
        font-weight: 700;
        color: #000000;
    }

    &-form{
        display: flex;
        align-items: center;
        position: relative;

        .newsletter-input {
            width: 100%;
            min-width: 499px;
            outline: none;
            height: 40px;
            background-color: #fff;
            padding-left: 24px;
            border-radius: 4px;
            border: 1px solid #353535;

            &:focus {
                border: 1px solid #FAA500;
            }

            @media (max-width: 1024px) {
                min-width: initial;
                width: 204px;
                height: 26px;
            }
        }

        .newsletter-input::placeholder{
            font-family: 'Titillium Web';
            font-weight: 400;
            font-size: 14px;
            color: #353535;
        }

        .newsletter-button {
            width: 131px;
            height: 44px;
            background-color: #FAA500;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 4px;
            position: absolute;
            right: -10px;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
            transition: ease-out 3ms;

            &:hover {
                background: #fff;
                color: #FAA500;
                border: 1px solid #FAA500;
            }

            @media (max-width: 1024px) {
                width: 79px;
                height: 26px;
                position: relative;
            }
        }
    }
}