.brands {

    margin-top: 24px;

    &-title {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin: 74px 0px 17px 0px;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 16px;
        margin: 0 auto;
        max-width: 1641px;

        @media (max-width:1024px){
            display: block;
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 22px;
        cursor: pointer;

        &:hover {
            opacity: .6;
        }

        @media only screen and (max-width: 1400px) {
            img {
                max-width: 1300px;
                width: 100%;
                margin: 0 10px;
            }
        }

        @media (max-width: 1024px) {
            img {
                margin: 0 auto;
            }
        }
    }

    &-subtitle {
        font-size: 14px;
        font-weight: 700;
        color: #353535;
    }

    &-text {
        font-size: 12px;
        font-weight: 400;
        color: #000000;
    }
}