.footer {
    

    &-title {
        font-weight: 700;
        font-size: 16px;
        color: #353535;
        margin-bottom: 25px;
    }

    &-item {
        margin-bottom: 24px;
        a {
            font-weight: 400;
            font-size: 12px;
            color: #000;
            transition: ease-out 3ms;
            
            &:hover {
                color: #FAA500;
            }
        }
        
    }

    &-top{
        background: #FAFAFA;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding: 43px 0px 64px 0px;
        box-shadow: 700px 0 0 #FAFAFA, -700px 0 0 #FAFAFA;

        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &-bottom {
        background: #353535;
        display: flex;
        justify-content: space-between;
        max-width: 1600px;
        margin: 0 auto;
        box-shadow: 700px 0 0 #353535, -700px 0 0 #353535;

        &-text {
            color: #FFFFFF;
            font-size: 10px;
        }

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &-socials, &-payments, &-logos {
        display: flex;
        align-items: center;
        gap: 22px;
        padding: 19px 0px 17px 0px;
    }

    &-icons {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    &-icon {
        &-link {
            transition: ease-out .3ms;
            svg, path {
                fill: #fff;
            }
            &:hover {
                svg, path {
                    fill: #FAA500;
                }
            }
        }
    }

    &-vtexlogo {
        margin-top: 5px;
    }

    @media (max-width: 1024px) {
        &-content {
            margin: 0 31px;
            h1 {
                font-weight: 700;
                font-size: 16px;
                color: #353535;
                margin-bottom: 24px;
                display: flex;
                justify-content: space-between;

                &:after {
                    content: '+';
                    width: 10px;
                    height: 10px;
                    display: block;
                    color: #000;
                    font-weight: bold;
                }

                &.active {
                    &:after {
                        content: '-';
                    }
                }
            }
        }
    }
}