.fullbanner {
    margin-bottom: 24px;
    
    img {
        margin: 0 auto;
        width: 100%;
    }

    .slick {
        &-arrow {
            &:before {
                display: none;
            }
        }
        
        &-next {
            right: 200px;
            width: 20px;
            height: 32px;

            @media (max-width: 1024px) {
                right: 10px;
            }
        }
        &-prev {
            left: 200px;
            z-index: 999999999;
            width: 20px;
            height: 32px;
            @media (max-width: 1024px) {
                left: 10px;
            }
        }

        &-dots {
            bottom: 0;
            margin-bottom: 24px;

            li {
                button {
                    &:before {
                        width: 16px;
                        height: 16px;
                        border: 1px solid #FAA500;
                        border-radius: 50%;
                        color: transparent;
                        opacity: 1;
                    }
                }
            }
            .slick-active {
                button {
                    &:before {
                        background-color: #FAA500;
                    }
                }
            }
        }
    }
}